openapi: 3.2.0
info:
  x-logo: https://qcs.rigetti.com/static/img/rigetti-logo.svg
  contact:
    email: support@rigetti.com
    url: https://rigetti.zendesk.com
  title: Rigetti QCS Client Applications API
  version: 2020-07-31
  description: '# Introduction


    This is the documentation for the Rigetti QCS HTTP API.'
servers:
- description: Rigetti API
  url: https://api.qcs.rigetti.com
tags:
- description: Check for the latest SDK versions.
  name: clientApplications
  x-displayName: SDK Versions
paths:
  /v1/clientApplications:
    parameters: []
    get:
      description: List supported clients of Rigetti system components along with their latest and minimum supported versions.
      operationId: ListClientApplications
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClientApplicationsResponse'
          description: Request completed successfully.
      summary: List Client Applications
      tags:
      - clientApplications
  /v1/clientApplications/{clientApplicationName}:
    get:
      description: Get details of a specific Rigetti system component along with its latest and minimum supported versions.
      operationId: GetClientApplication
      parameters:
      - in: path
        name: clientApplicationName
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApplication'
          description: Request completed successfully.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested client application does not exist.
      summary: Get Client Application
      tags:
      - clientApplications
  /v1/clientApplications:check:
    post:
      description: Check the requested client application version against the latest and minimum version.
      operationId: CheckClientApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckClientApplicationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckClientApplicationResponse'
          description: Successfully checked Forest versions.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Requested component does not exist.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request validation failed.
      summary: Check Client Application
      tags:
      - clientApplications
components:
  schemas:
    CheckClientApplicationResponse:
      properties:
        isLatestVersion:
          type: boolean
        isUpdateRequired:
          description: Set to true if component is not at latest version.
          type: boolean
        message:
          type: string
      required:
      - isLatestVersion
      - isUpdateRequired
      - message
      type: object
    CheckClientApplicationRequest:
      properties:
        name:
          description: Name of component
          type: string
        version:
          description: Semantic version of component.
          type: string
      required:
      - name
      - version
      type: object
    Error:
      properties:
        code:
          title: Code
          type: string
        message:
          title: Message
          type: string
        requestId:
          title: Request ID
          type: string
        validationErrors:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Validation Errors
          type: array
      required:
      - code
      - message
      - requestId
      title: Error
      type: object
    ChecksumDescription:
      properties:
        headerName:
          type: string
        type:
          enum:
          - md5
          type: string
      required:
      - headerName
      - type
      type: object
    ClientApplicationsDownloadLink:
      properties:
        checksumDescription:
          $ref: '#/components/schemas/ChecksumDescription'
        platform:
          type: string
        url:
          type: string
      required:
      - url
      type: object
    ListClientApplicationsResponse:
      properties:
        clientApplications:
          items:
            $ref: '#/components/schemas/ClientApplication'
          type: array
      required:
      - clientApplications
      type: object
    ValidationError:
      properties:
        in:
          enum:
          - header
          - query
          - path
          - body
          type: string
        message:
          title: Message
          type: string
        path:
          items:
            type: string
          title: Path
          type: array
      required:
      - in
      - message
      title: ValidationError
      type: object
    ClientApplication:
      properties:
        detailsUri:
          type: string
        latestVersion:
          description: Semantic version
          type: string
        links:
          items:
            $ref: '#/components/schemas/ClientApplicationsDownloadLink'
          type: array
        minimumVersion:
          description: Semantic version
          type: string
        name:
          type: string
        supported:
          type: boolean
      required:
      - latestVersion
      - name
      - supported
      type: object
  securitySchemes:
    JWTBearer:
      bearerFormat: JWT
      description: A JSON web token with `sub` or `uid` claim, as well as `groups` claim. If the token is absent, invalid or expired, the client will receive a 401 response. If the token is valid, the server uses the claims to authorize the request, which may result in a 403 response.
      scheme: bearer
      type: http
    JWTBearerOptional:
      bearerFormat: JWT
      description: Same as `JWTBearer`, but the Authorization header is optionally parsed. Clients will receive a 401 response if an invalid or expired token is provided. Otherwise, the server authorizes the request against either the valid token claims or an unauthenticated user. In either case, the client may receive a 403 response.
      scheme: bearer
      type: http
x-tagGroups:
- name: Account Management
  tags:
  - account
  - authentication
- name: QPU Access
  tags:
  - endpoints
  - deployments
  - engagements
  - quantumProcessors
  - reservations
  - translation
- name: SDKs
  tags:
  - clientApplications
- name: Filtering and ordering
  tags:
  - filterParameter
  - orderParameter
- name: Errors
  tags:
  - errors
